@{
    ViewData["Title"] = "Annons";
}

<h1>Annons</h1>

<form>
    <div>
        <label>
            <input type="radio" name="annonsType" value="prenumerant" checked>
            Prenumerant
        </label>
    </div>
    <div>
        <label>
            <input type="radio" name="annonsType" value="foretag">
            Företag
        </label>
    </div>
    <button type="submit">Submit</button>
</form>

