@{
    ViewData["Title"] = "Annons";
}

<h3>Annonsera</h3>

<br />
<p>Här kan du skapa annonser genom att kryssa i om du är ett företag eller prenumerant. </p>

<form id="userForm">
    <div>
        <label>
            <input type="radio" name="annonsType" value="prenumerant" checked>
            Prenumerant
        </label>
    </div>
    <div>
        <label>
            <input type="radio" name="annonsType" value="foretag">
            Företag
        </label>
    </div>
    <br />
    <div id="prenumerantSection" style="display:none;">
        <label for="prenumerationsnummer">Ange ditt prenumerationsnummer:</label>
        <input type="text" id="prenumerationsnummer" name="prenumerationsnummer">
    </div>
    <br />
    <button type="submit">Godkänn</button>
</form>

<script>
    document.getElementById("userForm").addEventListener("submit", function(event) {
        event.preventDefault(); 
        
        var formData = new FormData(event.target); 
        
        var annonsType = formData.get("annonsType"); 
        
        if (annonsType === "prenumerant") {
            var prenumerationsnummer = formData.get("prenumerationsnummer");
            if (prenumerationsnummer.trim() === "") {
                alert("Please enter your Prenumerationsnummer.");
                return;
            }
            
            window.location.href = "/Home/GetPrenumerant?prenumerationsnummer=" + encodeURIComponent(prenumerationsnummer);
        } else {
            window.location.href = "/Home/PostForetag";
        }
    });
    document.querySelectorAll('input[name="annonsType"]').forEach(function(radio) {
        radio.addEventListener("change", function() {
            var prenumerantSection = document.getElementById("prenumerantSection");
            if (this.value === "prenumerant") {
                prenumerantSection.style.display = "block";
            } else {
                prenumerantSection.style.display = "none";
            }
        });
    });
</script>
